/** @format */

.sliding {
  overflow: hidden;
  animation: animate 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

@keyframes animate {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
